<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133888042850-17gnt6g0nfk0udpi4f7uh4pd141v5f5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133888042850-17gnt6g0nfk0udpi4f7uh4pd141v5f5u</string>
	<key>API_KEY</key>
	<string>AIzaSyDniB0aYl9kn6m8I_RGaowxeGLdth1Ecas</string>
	<key>GCM_SENDER_ID</key>
	<string>133888042850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaisaer.k9nix</string>
	<key>PROJECT_ID</key>
	<string>k9nix-kaisaer</string>
	<key>STORAGE_BUCKET</key>
	<string>k9nix-kaisaer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133888042850:ios:c6fcab3173dd3c8dba2e3b</string>
</dict>
</plist>